<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'alphabet-letter-svgrepo-com.svg' %}" type="image/svg+xml">
</head>
<body>
<main style="background-color: #fbe09d; opacity: 1;
background-image: radial-gradient(#000000 0.7000000000000001px, transparent 0.7000000000000001px),
radial-gradient(#000000 0.7000000000000001px, #fbe09d 0.7000000000000001px);
background-size: 28px 28px; background-position: 0 0,14px 14px;">

    <div class="sticky-top bg-success bg-gradient"
         style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
         rgba(0, 0, 0, 0.22) 0px 15px 12px;">
        <header>
            <div class="d-flex align-items-center mx-3
            rounded-bottom">
                <a href="/" class="fs-1 my-1 me-auto text-light text-decoration-none">
                    <img src="{% static 'learning.png' %}" alt="Zero English" width="64px" height="64px"/>
                    <span>Zero English</span>
                </a>
                <a href="/" class="fs-4 my-auto mx-3 text-light text-decoration-none">
                    <span><i>Главная</i></span>
                </a>
                <a href="/vocabulary" class="fs-4 my-auto mx-3 text-light text-decoration-none">
                    <span><i>Словарь</i></span>
                </a>
                <a href="/lessons-list" class="fs-4 my-auto mx-3 text-light text-decoration-none">
                    <span><i>Уроки</i></span>
                </a>
                <a href="/stats" class="fs-4 my-auto mx-3 text-light text-decoration-none">
                    <span><i>Статистика</i></span>
                </a>
                <a href="/#about-proj" class="fs-4 my-auto mx-3 text-light text-decoration-none">
                    <span><i>О проекте</i></span>
                </a>
            </div>
        </header>
    </div>

    <div class="container-fluid">
        <div style="background-image: url('static/big-ben--london-560641539-59ad5adfc412440010560c8c.png');
background-size: cover; box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
-webkit-box-shadow: inset 0 0 50px #000, inset 0 0 50px #000, inset 0 0 50px #000;
-moz-box-shadow: inset 0 0 50px #000, inset 0 0 50px #000, inset 0 0 50px #000;
 box-shadow: inset 0 0 50px #000, inset 0 0 50px #000, inset 0 0 25px #000;">
            <div class= "d-flex mx-5" id="title-box">
                <div class="align-self-start py-3 bg-gradient rounded-bottom"
                    style="box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    background-color: #4a6ef0">
                    <h1 class="display-1 fw-bold text-center text-light mb-3 px-5">{% block page-title %}{% endblock %}</h1>
                    <p class="px-5 fs-4 fst-italic text-center text-light">{% block page-lead %}{% endblock %}</p>
                </div>
                <div class="d-flex align-items-center mx-2">
                    <img src="{% static 'big-ben--london-560641539-59ad5adfc412440010560c8c.jpg' %}"
                         class="img-fluid" style="opacity: 0;"/> <!--TODO: убрать блок-->
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <footer class="footer pt-3 mt-5 bg-success bg-gradient text-light"
            style="box-shadow:rgba(0, 0, 0, 0.5) 0 0 15px 10px">
        <div class="d-flex justify-content-between">
            <div><b>© 2023</b></div>
            <div><i>Designed by MakhrDee (<a href="https://getbootstrap.com" class="text-decoration-none text-light">Bootstrap v5.0.1</a>)</i></div>
        </div>

    </footer>

</main>
</body>
</html>

<!-- TODO: , Добавить на мейн размытие,
 зафиксировать прокрутку фона, добавить рельеф на шапку,
 сделать главный экран набором карточек с кнопками,
 Сделать кнопку возврата к началу страницы, подобрать наиболее подходящие картинки,
 Придумать более уникальное название сайта-->