{% extends "base_page.html" %}

{% block page-title %}
Английский язык с нуля
{% endblock %}

{% block page-lead %}
Это страница посвящена изучению английского языка. <br/>
<!--Этот проект и его исходный код можно использовать как reference или источник вдохновения для своего проекта.-->
{% endblock %}

{% block content %}
<div class="container px-5 py-5 my-5 bg-light" style="box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px 10px;" id="project-contents">

    <h2 class="pb-2 border-bottom border-dark">Что можно посмотреть?</h2>

    <div class="row justify-content-start align-items-start my-5">
        <div class="col-sm-4">
            <div class="card text-center"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
                <img src="static/iStock_000002193842Medium_0_0.jpg" class="card-img-top" alt="Vocabulary">
                <div class="card-body">
                    <h5 class="card-title">Словарь</h5>
                    <p class="card-text text-start text-muted">Посмотреть список изученных слов с переводом</p>
                    <a href="/vocabulary" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
                <img src="static/1000_F_194839975_YpYbRSE4k9WYxVHJzqC75esbl670gpf5.jpg" class="card-img-top" alt="Lessons">
                <div class="card-body">
                    <h5 class="card-title">Уроки</h5>
                    <p class="card-text text-start text-muted">Посмотреть список пройденных уроков</p>
                    <a href="/lessons-list" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="pb-2 border-bottom border-dark">Интерактивные возможности</h2>

    <div class="row justify-content-start align-items-start my-5">
        <div class="col-sm-4">
            <div class="card text-center"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
                <img src="static/maxresdefault.jpg" class="card-img-top" alt="Add new word">
                <div class="card-body">
                    <h5 class="card-title">Добавить слово</h5>
                    <p class="card-text text-start text-muted">Заполнить форму для добавления новых слов в словарь</p>
                    <a href="/add-word" class="btn btn-primary">Добавить</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-center"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
                <img src="static/img_screen-capture_jpnrds.svg" class="card-img-top" alt="Add new lesson">
                <div class="card-body">
                    <h5 class="card-title">Добавить урок</h5>
                    <p class="card-text text-start text-muted">Заполнить форму для добавления новых пройденных уроков</p>
                    <a href="/add-lesson" class="btn btn-primary">Добавить</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="pb-2 border-bottom border-dark">Дополнительно</h2>

    <div>
        <div class="col-sm-4 my-5">
            <div class="card text-center"
            style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
                <img src="static/abstract-3d-numbers-background-computer-260nw-1165123771.jpg"
                     class="card-img-top" alt="Statistics" style="filter: blur(0.5px);">
                <div class="card-body">
                    <h5 class="card-title">Статистика</h5>
                    <p class="card-text text-start text-muted">
                        Посмотреть статистику по добавленные и изученным словам и урокам</p>
                    <a href="/add-lesson" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="pb-2 border-bottom border-dark" id="about-proj">О проекте</h2><br>

    <div>
        <p>
            Этот веб-проект разработан в рамках учебного курса "Программирование на Python". В качестве
            reference-проекта был использован
            "<a href="https://github.com/dig-kafedra-webdev/maths-site">Проект про математику</a>".
        </p><br>
        <p>
            Исходный репозиторий текущего веб-проекта можно найти на GitHub автора по
            <a href="https://github.com/MakhrDee/learn-english-site">ссылке</a>.
        </p>

    </div>
</div>
{% endblock %}
