{% extends "base_page.html" %}

{% block page-title %}
Добавление пройденных уроков
{% endblock %}

{% block page-lead %}
Когда вы нажмёте на кнопку &laquo;Отправить&raquo;, указанный урок станет доступен в
<a href="/lessons-list" class="text-light">списке</a> уроков, а также
будет учитываться в <a href="/stats" class="text-light">статистике</a>.
<br>Будьте внимательны при добавлении!
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Укажите, пожалуйста, Ваши контактные данные</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван Иванов" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный e-mail:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Введите данные о добавляемом уроке:</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_topic">Тема урока</label>
                <input type="text" class="form-control input-lg" name="new_topic" id="new_topic">
            </div>
            <div class="col-md-8">
                <label for="new_description">Описание урока</label>
                <textarea type="text" class="form-control input-lg" name="new_description" id="new_description" aria-describedby="description_note" rows="3"></textarea>
                <div id="description_note" class="form-text">Укажите наиболее краткое описание урока.</div>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-lesson">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}


<!--TODO: Изменить name и id под контент-->