{% extends "base_page.html" %}

{% block page-title %}
Уроки
{% endblock %}

{% block page-lead %}
Список пройденных уроков
{% if slug %}
 Получен slug = {{ slug }}.
{% endif %}
{% endblock %}

{% block content %}
<div class="container px-4 py-5 my-5 bg-light" style="box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px 10px;" id="lessons-table">
    <div class="table-responsive">
        <!--TODO: Сделать ссылку на форму добавления слова и реализовать удаление на всплывающем окне-->
        <table class="table table-striped table-hover table-bordered border-dark">
            <thead>
                <tr class="table-active">
                    <th scope="col" class="py-3">#</th>
                    <th scope="col" class="py-3">Тема урока</th>
                    <th scope="col" class="py-3">Описание урока</th>
                </tr>
            </thead>
            <tbody>
                {% for index, topic, description in lessons %}
                <tr>
                    <td class="py-3">{{ index }}</td>
                    <td class="py-3">{{ topic }}</td>
                    <td class="py-3">{{ description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
