{% extends "base_page.html" %}

{% block page-title %}
Статистика
{% endblock %}

{% block page-lead %}
На этой странице можно посмотреть статистику по словам и урокам.
В статистике учитываются как старые, так и добавляемые позиции.
{% endblock %}

{% block content %}
<div class="container px-4 py-5 my-5 bg-light" style="box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px 10px;" id="stats">

    <div class="row">
        <div class="col-md-4 text-center">
            <h3 class="pb-3">Словарь</h3>
            <div>
                <h4>{{ all_words }}</h4>
                <p class="text-muted">всего слов</p>
            </div>
            <div class="">
                <h4>{{ admin_words }}</h4>
                <p class="text-muted">добавленных администратором</p>
            </div>
            <div class="">
                <h4>{{ user_words }}</h4>
                <p class="text-muted">добавленных через <a href="/add-word">форму добавления слов</a></p>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <h3 class="pb-3">Уроки</h3>
            <div>
                <h4>{{ all_lessons }}</h4>
                <p class="text-muted">всего уроков</p>
            </div>
            <div class="">
                <h4>{{ admin_lessons }}</h4>
                <p class="text-muted">добавленных администратором</p>
            </div>
            <div class="">
                <h4>{{ user_lessons }}</h4>
                <p class="text-muted">добавленных через <a href="/add-lesson">форму добавления уроков</a></p>
            </div>
        </div>


        <div class="col-md-4 text-center">
            <h3 class="pb-3">Подробная информация</h3>
            <div>
                <h4>{{ words_max }}</h4>
                <p class="text-muted">символов в самом длинном слове</p>
            </div>
            <div class="">
                <h4>{{ w_max_meaning_len }}</h4>
                <p class="text-muted">символов в самом длинном значении слова</p>
            </div>
            <div class="">
                <h4>{{ les_min_descrip_len }}</h4>
                <p class="text-muted">символов в самом коротком описании уроков</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

