{% extends "base_page.html" %}

{% block page-title %}
Добавление слов в словарь
{% endblock %}

{% block page-lead %}
Когда вы нажмёте на кнопку &laquo;Отправить&raquo;, введенное слово станет доступно в <a href="/vocabulary" class="text-light">словаре</a>, а также
будет учитываться в <a href="/stats" class="text-light">статистике</a>.
<br>Будьте внимательны при добавлении!
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Укажите, пожалуйста, Ваши контактные данные</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван Иванов" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный e-mail:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Введите слово, которое хотите добавить:</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-3">
                <label for="new_word">Слово на английском языке</label>
                <input type="text" class="form-control input-lg" name="new_word" id="new_word">
            </div>
            <div class="col-md-3">
                <label for="new_translate">Перевод на русский язык</label>
                <input type="text" class="form-control input-lg" name="new_translate" id="new_translate">
            </div>
            <div class="col-md-6">
                <label for="new_meaning">Значение слова</label>
                <textarea type="text" class="form-control input-lg" name="new_meaning" id="new_meaning"
                          aria-describedby="meaning_note" rows="3"></textarea>
                <div id="meaning_note" class="form-text">Укажите краткое значение слова.<br>
                    Если значений несколько, запишите из через точку с запятой.</div>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-word">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
